*
{
    font-size:16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-bottom: 20px;
}
header{
    padding: 50px;
    background-color: bisque;
    text-align: center;
    display:block;
    /*width: 80%;
    max-width: 900px;
    margin: 20px auto;
    */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
nav {
    margin-top: 15px;
}
nav ul {
    list-style: none;
    display: flex;
   justify-content: center;
   gap:20px;
}
nav ul li {
    color: black;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
}
nav ul li a
{
    text-decoration: none;
    color:black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
nav ul li a:hover {
    background-color: #333;
    color: white;
}
section {
    margin: 20px auto;
    padding: 2rem;
    max-width: 900px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2,h3{
    text-align: center;
    margin-bottom: 20px;
}
#about
{
    text-align: justify;
}
#skills ul
{
    list-style: none;
    padding:10px;
   text-align: center;
}
#skills ul li{
    display: block;
    padding:10px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}

.card {
    display: block;
    background: #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: left; 
    margin-bottom: 15px;
}
.container p{
    text-align: justify;
    margin-bottom: 20px;
}
#contact ul
{
   list-style: none;
   gap:15px; 
   padding: 20px;
   border-radius: 10px;
   display:flex;
   justify-content: center;
   align-items: center;
}
#contact ul li a
{
    text-decoration: none;
}
footer{
    text-align: center;
     padding: 50px;
    border-radius: 10px;
    background-color: bisque;
    text-align: center;
    display:block;
}