*
{
    font-size:20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-bottom: 20px;
}
header{
    padding: 30px;
    background-color: bisque;
    text-align: center;
    display:block;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
nav {
    margin-top: 10px;
}
nav ul {
    list-style: none;
    display: flex;
   justify-content: center;
   gap:20px;
}
nav ul li {
    color: black;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
}
nav ul li a
{
    text-decoration: none;
    color:black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
nav ul li a:hover {
    background-color: #333;
    color: white;
}
section {
    margin: 10px auto;
    padding: 2rem;
    max-width: 900px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2,h3{
    text-align: center;
    margin-bottom: 20px;
}
#about
{
    text-align: justify;
}
#skills ul
{
    list-style: none;
    padding:10px;
   text-align: center;
}
#skills ul li{
    display: block;
    padding:10px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}

.card {
    display: block;
    background: #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: left; 
    margin-bottom: 10px;
}
.container p{
    text-align: justify;
    margin-bottom: 20px;
}
.contact-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    text-align: center;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-box a {
    text-decoration: none;
    color: #333;
    font-size: 36px;   /* Bigger icons */
    transition: color 0.3s, transform 0.3s;
}

.icon-box a:hover {
    color: #FF7043;
    transform: scale(1.2);
}

.icon-box p {
    margin-top: 8px;
    font-size: 16px;
    color: #333;
}


footer{
    text-align: center;
     padding: 50px;
    border-radius: 10px;
    background-color: bisque;
    text-align: center;
    display:block;
}